<div class="card card-succes col-md-12">
  <div class="card-header">
    <h4>Consulta Alumno</h4>
    <form class="card-header-form">
      <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Ingrese número de Documento" [(ngModel)]="documentoSearch"  required>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-icon" (click)="searchAlumno()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
  <div class="alert alert-danger  alert-dismissible show fade" *ngIf="msgsErrorStatus">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{msgsError}}
                      </div>
                    </div>
  <div *ngIf="datosBasicosAlumno">
  <div class="alert alert-success" *ngIf="horarioClase?.length > 0">
                      Su mensualidad se encuentra activa
                    </div>
      <div class="alert alert-danger" *ngIf="horarioClase?.length == 0">
                      Su mensualidad se encuentra vencida
                    </div>
  <div class="section-title">Datos Personales</div>
  <form [formGroup]="datosPersonalesForm">
  <div class="row">
  <div class="form-group col-md-4">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
    <div class="form-group col-md-4">
      <label>Identificación</label>
      <input type="text" class="form-control"  formControlName="identificacion">
    </div>
    <div class="form-group col-md-4">
      <label>Fecha Nacimiento</label>
      <input type="date" class="form-control"  formControlName="fechaNacimiento">
    </div>
    </div>
    <div class="row">
    <div class="form-group col-md-4">
      <label>Fecha Ingreso</label>
      <input type="date" class="form-control"  formControlName="fechaIngreso">
    </div>
    <div class="form-group col-md-4">
      <label>Instagram</label>
      <input type="text" class="form-control" formControlName="instagram">
    </div>
    <div class="form-group col-md-4">
      <label>Telefono</label>
      <input type="text" class="form-control"  formControlName="telefono">
    </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label>Nombre Acudiente</label>
        <input type="text" class="form-control" formControlName="nombreAcudiente">
      </div>
      <div class="form-group col-md-4">
        <label>Telefono Acudiente</label>
        <input type="text" class="form-control" formControlName="telefonoAcudiente">
      </div>
      <div class="form-group col-md-4">
        <label>Parentesco Acudiente</label>
        <input type="text" class="form-control" formControlName="parentescoAcudiente">
      </div>
    </div>
    <div class="card-footer text-right">
    <button class="btn btn-primary" (click)="editDatosPersonales()" [hidden]="!readOnlyFields">Editar</button>
    <button class="btn btn-primary mr-4" (click)="cancelEditDatosPersonales()" [hidden]="readOnlyFields">Cancelar</button>
    <button class="btn btn-primary" (click)="updateDatosPersonales()" [hidden]="readOnlyFields">Guardar</button>
  </div>
  </form>
    </div>
    <div *ngIf="datosBasicosAlumno && horarioClase?.length > 0">
    <div class="section-title">Horario Clase</div>
    <div class="table-responsive">

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Clase</th>
            <th scope="col">Dia</th>
            <th scope="col">Hora Inicio</th>
            <th scope="col">Hora Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clase of horarioClase">
            <th scope="row">{{clase.clase}}</th>
            <td>{{clase.dia}}</td>
            <td>{{clase.horaInicio}}</td>
            <td>{{clase.horaFin}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    </div>
    <div [hidden]="dataAlumno == null || dataAlumno?.length == 0">
  <div class="section-title">Histórico Pagos</div>
  <table datatable  [dtTrigger]="dtTrigger" class="row-border hover" >
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Paquete</th>
        <th>Precio Pactado</th>
        <th>Observaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataAlumno">
        <td>{{ data.fechaInicio | date: 'dd/MM/yyyy' }}</td>
        <td>{{ data.fechaFin | date: 'dd/MM/yyyy' }}</td>
        <td>{{ data.nombrePaquete }}</td>
        <td>{{ data.precioPactado }}</td>
        <td>{{ data.observaciones }}</td>
      </tr>
    </tbody>
  </table>
</div>


  </div>
</div>

