

<div class="card card-success col-md-12">
  <div class="card-header">
    <h4>REGISTRO MENSUALIDAD</h4>
  </div>
  <div class="card-body">

    <div class="section-title">Pago Mensualidad</div>
    <div class="alert alert-danger  alert-dismissible show fade" *ngIf="msgsErrorStatus">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{msgsError}}
                      </div>
                    </div>
  <div class="alert alert-success  alert-dismissible show fade" *ngIf="msgsSuccessStatus">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{msgsSuccess}}
                      </div>
                    </div>
    <form [formGroup]="mensualidadForm">
      <div class="form-group">
        <label>Identificación</label>
        <input type="text" class="form-control" formControlName="identificacion" (focusout)="searchAlumnoByIdentificacion()">
        <span class="badge badge-light" *ngIf="showMessageInfoPersona">{{infoPersona}}</span>
      </div>
      <div [hidden]="hiddenFormMensualidad">
        <div class="form-group">
          <label>Paquete</label>
          <select class="form-control" formControlName="idPaquete" (change)="changePaquete()" id="selecPaqueteMensualidad">
            <option *ngFor="let paq of paquetes" [value]="paq.id" [attr.data-tiempo]="paq.diasDuracion">{{paq.nombre}}</option>
          </select>
          <div class="invalid-feedback2" *ngIf="formDatosMensualidad.idPaquete.invalid && (formDatosMensualidad.idPaquete.dirty || formDatosMensualidad.idPaquete.touched || showMessageError)">
            <div *ngIf="formDatosMensualidad.idPaquete.errors.required">{{messageError}}</div>
          </div>
        </div>
        <div class="form-group">
          <label>Fecha Inicio</label>
          <input type="date" class="form-control" formControlName="fechaInicio" id="fechaInicioMensualidad" (change)="getFechaFinMensualidad()">
          <div class="invalid-feedback2" *ngIf="formDatosMensualidad.fechaInicio.invalid && (formDatosMensualidad.fechaInicio.dirty || formDatosMensualidad.fechaInicio.touched || showMessageError)">
            <div *ngIf="formDatosMensualidad.fechaInicio.errors.required">{{messageError}}</div>
          </div>
        </div>
        <div class="form-group">
          <label>Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin" id="fechaFinMensualidad" readOnly>
          <div class="invalid-feedback2" *ngIf="formDatosMensualidad.fechaFin.invalid && (formDatosMensualidad.fechaFin.dirty || formDatosMensualidad.fechaFin.touched || showMessageError)">
            <div *ngIf="formDatosMensualidad.fechaFin.errors.required">{{messageError}}</div>
          </div>
        </div>
        <div class="form-group">
          <label>Valor a Pagar</label>
          <input type="text" class="form-control" formControlName="precioPactado">
          <div class="invalid-feedback2" *ngIf="formDatosMensualidad.precioPactado.invalid && (formDatosMensualidad.precioPactado.dirty || formDatosMensualidad.precioPactado.touched || showMessageError)">
            <div *ngIf="formDatosMensualidad.precioPactado.errors.required">{{messageError}}</div>
          </div>
        </div>
        <div class="form-group">
          <label>Observaciones</label>
          <input type="text" class="form-control" formControlName="observaciones">
        </div>

        <div [hidden]="hideClases">
          <div  class="btn btn-primary btn-icon icon-left">
            <i class="fas fa-exclamation-circle"></i> Cantidad clases a elegir <span class="badge badge-transparent">{{totalClasesPosibles}}</span>
          </div>
          <div class="form-group mt-2" >
            <label class="form-label">Clases</label>
            <div class="selectgroup selectgroup-pills">
              <label class="selectgroup-item" *ngFor="let clase of listClases">
                <input type="checkbox" #checkboxClase name="value" value="HTML" class="selectgroup-input" (change)="loadClase(clase.id, $event)">
                <span class="selectgroup-button">{{ clase.nombre }}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-danger alert-dismissible show fade" *ngIf="showMessageErrorResponse">
        <div class="alert-body">
          <button class="close" data-dismiss="alert">
            <span>&times;</span>
          </button>
          {{ msgErrorResponseForm }}
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-primary mr-4" (click)="resetForm()">Cancelar</button>
    <button class="btn btn-primary" (click)="guardarMensualidad()">Guardar</button>
  </div>

</div>



