<div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <app-header></app-header>
      <app-sideleftbar></app-sideleftbar>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <router-outlet></router-outlet>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2021 <div class="bullet"></div> Design By <strong>Jhocel Duvan Suescun Torres</strong>
        </div>
        <div class="footer-right">
          2.3.0
        </div>
      </footer>
    </div>
  </div>
