<div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">MAMBO STEP</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">MS</a>
          </div>
          <ul class="sidebar-menu">
              <li class="menu-header">Consulta</li>
              <li><a class="nav-link"  routerLink="/admin/consulta-alumno"><i class="fas fa-search"></i> <span>Estado actual alumnos</span></a></li>
              <li><a class="nav-link" href="credits.html"><i class="fas fa-fire"></i> <span>Dashboard General</span></a></li>

              <li class="menu-header">Gestión</li>
              <li><a class="nav-link" routerLink="/admin/clases"><i class="fas fa-user-circle"></i> <span>Clases</span></a></li>
              <li><a class="nav-link" routerLink="/admin/paquetes"><i class="fab fa-elementor"></i> <span>Paquetes</span></a></li>
              <li><a class="nav-link" routerLink="/admin/profesores"><i class="fas fa-chalkboard-teacher"></i> <span>Profesores</span></a></li>
              <li><a class="nav-link" routerLink="/admin/alumnos"><i class="fas fa-user-circle"></i> <span>Alumnos</span></a></li>
              <li><a class="nav-link" routerLink="/admin/mensualidad"><i class="far fa-credit-card"></i> <span>Mensualidades</span></a></li>

          </ul>
        </aside>
      </div>
