<div class="card card-success col-md-12" [hidden]="viewForm">
  <div class="card-header">
    <h4>CLASES REGISTRADAS</h4>
  </div>
  <div class="card-body">
  <div class="alert alert-success  alert-dismissible show fade" *ngIf="msgsSuccessStatus">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{msgsSuccess}}
                      </div>
                    </div>

  <button class="btn btn-primary mb-4" (click)="loadFormClase()">Nuevo Registro</button>

  <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Horario</th>
        <th>Profesor</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clase of clases">
          <td>{{ clase.nombre }}</td>
          <td>
            <ul>
              <li *ngFor="let horario of clase.listHorarioClase ">
                {{ horario.dia }} {{ horario.horaInicio}} - {{ horario.horaFin}}
              </li>

            </ul>
          </td>
          <td>{{ clase.nombreProfesor}}</td>
          <td>
            <label class="custom-switch mt-2">
              <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" [checked]="clase.status" disabled>
              <span class="custom-switch-indicator"></span>
            </label>
          </td>
          <td>
            <button class="btn btn-icon btn-primary" (click)="editClase(clase.id)"><i class="far fa-edit"></i></button>

          </td>
        </tr>
    </tbody>
  </table>

  </div>
</div>



<div class="card card-success col-md-12" [hidden]="!viewForm">
  <div class="card-header">
    <h4>REGISTRO CLASE</h4>
  </div>
  <div class="card-body">
  <div class="alert alert-danger  alert-dismissible show fade" *ngIf="msgsErrorStatus">
                      <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                          <span>&times;</span>
                        </button>
                        {{msgsError}}
                      </div>
                    </div>
  <div class="section-title">Datos Clase</div>
  <form [formGroup]="datosClaseForm">
    <div class="form-group">
      <label>Sede</label>
      <select class="form-control" formControlName="sede" (change)="onChangeSede()">
        <option *ngFor="let sede of listSedes" [value]="sede.id">{{sede.nombre}} - {{sede.direccion}}</option>
      </select>
      <div class="invalid-feedback2" *ngIf="formClase.sede.invalid && (formClase.sede.dirty || formClase.sede.touched || showMessageError)">
        <div *ngIf="formClase.sede.errors.required">{{messageError}}</div>
      </div>
    </div>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="nombre">
      <div class="invalid-feedback2" *ngIf="formClase.nombre.invalid && (formClase.nombre.dirty || formClase.nombre.touched || showMessageError)">
        <div *ngIf="formClase.nombre.errors.required">{{messageError}}</div>
      </div>
    </div>
    <div class="form-group">
      <label>Profesor</label>
      <select class="form-control" formControlName="profesor" >
        <option *ngFor="let profesor of listProfesores" [value]="profesor.id">{{profesor.nombre}}</option>
      </select>
      <div class="invalid-feedback2" *ngIf="formClase.profesor.invalid && (formClase.profesor.dirty || formClase.profesor.touched || showMessageError)">
        <div *ngIf="formClase.profesor.errors.required">{{messageError}}</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-icon icon-left btn-primary" data-toggle="modal" data-target="#modalRegistroHorarioClase"><i class="far fa-calendar-plus"></i> Agregar horario</button>

    </div>
    <div class="form-group" *ngIf="listHorarioClaseTemp?.length > 0">
      <label>Horario</label>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <th>Dia</th>
            <th>Hora</th>
            <th>Eliminar</th>
          </thead>
          <tbody>
            <tr *ngFor="let horarioClase of listHorarioClaseTemp ">
              <td>{{ horarioClase.dia }}</td>
              <td>{{ horarioClase.horaInicio }} - {{ horarioClase.horaFin }}</td>
              <td><button class="btn btn-icon btn-sm btn-danger" (click)="deleteHorarioTemp(horarioClase)"><i class="fas fa-times"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label">Status</div>
      <label class="switch mt-2">
        <input type="checkbox" name="switch-checkbox" class="custom-switch-input" formControlName="status">
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description"></span>
      </label>
    </div>
    <div class="alert alert-danger alert-dismissible show fade" *ngIf="showMsgErrorResponseFormHorarioClase">
      <div class="alert-body">
        <button class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
        {{ msgErrorResponseFormClase }}
      </div>
    </div>

    </form>

  <div class="card-footer text-right">
    <button class="btn btn-primary mr-4" (click)="cancelFormClase()">Cancelar</button>
    <button class="btn btn-primary" (click)="guardarClase()">Guardar</button>
  </div>

</div>



 <div class="modal fade" tabindex="-1" role="dialog" id="modalRegistroHorarioClase" #modalRegistroHorarioClase data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar horario clase </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="datosHorarioClaseForm">
          <div class="form-group">
            <label>Dia</label>
            <select class="form-control" formControlName="dia" >
              <option *ngFor="let dia of diasSemana" [value]="dia.day">{{dia.day}}</option>
            </select>
            <div class="invalid-feedback2" *ngIf="formHorarioClase.dia.invalid && (formHorarioClase.dia.dirty || formHorarioClase.dia.touched || showMessageError)">
              <div *ngIf="formHorarioClase.dia.errors.required">{{messageError}}</div>
            </div>
          </div>
          <div class="form-group">
            <label>Hora Inicio</label>
            <input type="time" class="form-control" formControlName="horaInicio">
            <div class="invalid-feedback2" *ngIf="formHorarioClase.horaInicio.invalid && (formHorarioClase.horaInicio.dirty || formHorarioClase.horaInicio.touched || showMessageError)">
              <div *ngIf="formHorarioClase.horaInicio.errors.required">{{messageError}}</div>
            </div>
          </div>
          <div class="form-group">
            <label>Hora Fin</label>
            <input type="time" class="form-control" formControlName="horaFin">
            <div class="invalid-feedback2" *ngIf="formHorarioClase.horaFin.invalid && (formHorarioClase.horaFin.dirty || formHorarioClase.horaFin.touched || showMessageError)">
              <div *ngIf="formHorarioClase.horaFin.errors.required">{{messageError}}</div>
            </div>
          </div>
        </form>
        <div class="alert alert-danger alert-dismissible show fade" *ngIf="msgErrorResponseFormHorarioClase != null">
          <div class="alert-body">
            <button class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
            {{ msgErrorResponseFormHorarioClase }}
          </div>
        </div>
      </div>
      <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-primary" #closeModalHorariobutton id="closeModalHorariobutton" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addHorario()">Agregar</button>
      </div>
    </div>
  </div>
</div>
